#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

%:
	dh $@

override_dh_test:
	@echo NOOP $@

override_dh_build:
	@echo NOOP $@

override_dh_auto_install:
	mkdir -vp \
		debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)
	cp -va \
		lin64/gcc7/lib/* \
		debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)
	mkdir -vp \
		debian/tmp/usr/include/cadex
	cp -va \
		inc/cadex/* \
		debian/tmp/usr/include/cadex
